# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

https://iexcloud.io/docs/api/#key-stats


use 'year1ChangePercent'

In [3]:
import numpy as np 
import pandas as pd 
import requests 
import xlsxwriter 
import math 
from scipy import stats

In [4]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

In [5]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []

for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

In [6]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                pd.Series([symbol, 
                           data[symbol]['quote']['latestPrice'],
                           data[symbol]['stats']['year1ChangePercent'],
                           'N/A'
                           ], 
                          index = my_columns), 
                ignore_index = True)
        
    
final_dataframe

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  125.678              0.401591                     N/A
1      AAL   18.820              -0.36887                     N/A
2      AAP  156.400             0.0748665                     N/A
3     AAPL  139.020              0.882064                     N/A
4     ABBV  104.351               0.29324                     N/A
..     ...      ...                   ...                     ...
500    YUM  107.480            -0.0039944                     N/A
501    ZBH  158.880             0.0392706                     N/A
502   ZBRA  408.710              0.627607                     N/A
503   ZION   46.660            -0.0217924                     N/A
504    ZTS  161.505              0.133723                     N/A

[505 rows x 4 columns]