In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import datetime
import time
import yfinance as yf

SYMBOL = 'AAPL'
START_DATE = '2020-1-1'
END_DATE =  datetime.date.today().isoformat()

data = yf.download(SYMBOL, START_DATE, END_DATE)

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,74.444603,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.720840,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,74.308266,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.958794,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,75.148521,132079200
...,...,...,...,...,...,...
2021-01-20,128.660004,132.490005,128.550003,132.029999,132.029999,104319500
2021-01-21,133.800003,139.669998,133.589996,136.869995,136.869995,120529500
2021-01-22,136.279999,139.850006,135.020004,139.070007,139.070007,114459400
2021-01-25,143.070007,145.089996,136.539993,142.919998,142.919998,157611700
2021-01-26,143.600006,144.300003,141.369995,143.160004,143.160004,98390600